<%= div_for post, :class => 'panel panel-default'  do %>
    <%= div_for post, :class => 'panel-heading'  do %>
	<h2><%= link_to_unless_current post.title, post %> </h2>
     <% end %>
    <%= div_for post, :class => 'panel-body'  do %>
<%= post.body.html_safe %>
    <% end %>
<% end %>